body, html{ 
  height: 100%;
  margin: 0;
}
  
  h1 {
  text-align: center;
  font-size: 60px;
  background-color: #333;
  font-family: 'Dancing Script', cursive;
  color: white;
}

h2 {
  font-family: 'EB Garamond', serif;
}
 .header{ 

  background-image: url("https://i.pinimg.com/originals/5f/55/db/5f55dbaf0df70f1d9297a14c476e1bcf.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.testing{
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    font-size: 16px;
    font-family: 'Francois One', sans-serif;
}

li a:hover {
    background-color: #111;
}

.wrapper {
  text-align: center;
}

.button {
    background-color: #333;
    border: #333;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 20px 20px;
    cursor: pointer;
    position: absolute;
    top: 50%
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}
